# ENGENHEIRO DE DADOS JR - ESCOLA DNC

O notebook foi desenvolvido para a resolução do case técnico para a vaga de Engenheiro de dados Jr da Escola DNC.

* [Notion](https://dncgroupbr.notion.site/Engenheiro-a-de-Dados-Jr-7c864f99568745d393069004e8954eb3)
* [Github](https://github.com/AurelioGuilherme/ETL-Engenharia-de-dados-DNC)

## 0 - Import Libs

In [10]:
import pandas as pd
# Defini os parâmetros internos do Pandas para visulizar todas as colunas do DataFrame 
pd.set_option('display.max_columns', None)

## 1 - Read data

In [11]:
# Carga dos dados em um DataFrame pandas
df = pd.read_excel("../Data/Lotofacil.xlsx")

## 2 - Data understand

In [12]:
df.head()

,Concurso,Data Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15,Ganhadores 15 acertos,Cidade / UF,Rateio 15 acertos,Ganhadores 14 acertos,Rateio 14 acertos,Ganhadores 13 acertos,Rateio 13 acertos,Ganhadores 12 acertos,Rateio 12 acertos,Ganhadores 11 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Prêmio,Acumulado sorteio especial Lotofácil da Independência,Observação
0,1,29/09/2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25,5,BA; \nPR; \nSP,"R$49.765,82",154,"R$689,84",4645,"R$10,00",48807,"R$4,00",257593,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio (15 ACERTOS) próximo conc...
1,2,06/10/2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24,1,SP,"R$596.323,70",184,"R$1.388,95",6232,"R$10,00",81252,"R$4,00",478188,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",ESTIMATIVA DE PRÊMIO PARA O PRÓXIMO CONCURSO (...
2,3,13/10/2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24,2,SP,"R$400.623,70",158,"R$2.173,36",6897,"R$10,00",96244,"R$4,00",608211,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio (15 ACERTOS) próximo conc...
3,4,20/10/2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25,1,MT,"R$902.226,02",258,"R$1.498,72",9569,"R$10,00",123912,"R$4,00",706657,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio (15 ACERTOS) próximo conc...
4,5,27/10/2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25,2,BA; \nMS,"R$380.017,55",472,"R$687,49",14736,"R$10,00",195636,"R$4,00",860992,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de prêmio para o próximo concurso (...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2894 entries, 0 to 2893
Data columns (total 33 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Concurso                                               2894 non-null   int64
 1   Data Sorteio                                           2894 non-null   object
 2   Bola1                                                  2894 non-null   int64
 3   Bola2                                                  2894 non-null   int64
 4   Bola3                                                  2894 non-null   int64
 5   Bola4                                                  2894 non-null   int64
 6   Bola5                                                  2894 non-null   int64
 7   Bola6                                                  2894 non-null   int64
 8   Bola7                                                  2894 non-null   int64
 9   Bola8                                                  2894 non-null   int64
 10  Bola9                                                  2894 non-null   int64
 11  Bola10                                                 2894 non-null   int64
 12  Bola11                                                 2894 non-null   int64
 13  Bola12                                                 2894 non-null   int64
 14  Bola13                                                 2894 non-null   int64
 15  Bola14                                                 2894 non-null   int64
 16  Bola15                                                 2894 non-null   int64
 17  Ganhadores 15 acertos                                  2894 non-null   int64
 18  Cidade / UF                                            2592 non-null   object
 19  Rateio 15 acertos                                      2894 non-null   object
 20  Ganhadores 14 acertos                                  2894 non-null   int64
 21  Rateio 14 acertos                                      2894 non-null   object
 22  Ganhadores 13 acertos                                  2894 non-null   int64
 23  Rateio 13 acertos                                      2894 non-null   object
 24  Ganhadores 12 acertos                                  2894 non-null   int64
 25  Rateio 12 acertos                                      2894 non-null   object
 26  Ganhadores 11 acertos                                  2894 non-null   int64
 27  Rateio 11 acertos                                      2894 non-null   object
 28  Acumulado 15 acertos                                   2894 non-null   object
 29  Arrecadacao Total                                      2894 non-null   object
 30  Estimativa Prêmio                                      2894 non-null   object
 31  Acumulado sorteio especial Lotofácil da Independência  2894 non-null   object
 32  Observação                                             778 non-null    object
dtypes: int64(21), object(12)
memory usage: 746.2+ KB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Concurso,2894.0,1.447500e+03,835.570165,1.0,724.25,1447.5,2170.75,2894.0
Bola1,2894.0,1.620940e+00,0.925345,1.0,1.00,1.0,2.00,7.0
Bola2,2894.0,3.252937e+00,1.297029,2.0,2.00,3.0,4.00,9.0
Bola3,2894.0,4.878715e+00,1.532281,3.0,4.00,5.0,6.00,12.0
Bola4,2894.0,6.520733e+00,1.710489,4.0,5.00,6.0,8.00,13.0
Bola5,2894.0,8.154112e+00,1.809953,5.0,7.00,8.0,9.00,14.0
Bola6,2894.0,9.786800e+00,1.853189,6.0,8.00,10.0,11.00,16.0
Bola7,2894.0,1.138182e+01,1.888262,7.0,10.00,11.0,13.00,17.0
Bola8,2894.0,1.300829e+01,1.912157,8.0,12.00,13.0,14.00,18.0
Bola9,2894.0,1.460781e+01,1.928542,9.0,13.00,15.0,16.00,19.0
Bola10,2894.0,1.626123e+01,1.880689,10.0,15.00,16.0,18.00,20.0
Bola11,2894.0,1.791465e+01,1.778420,12.0,17.00,18.0,19.00,21.0
Bola12,2894.0,1.954907e+01,1.648149,13.0,18.00,20.0,21.00,22.0
Bola13,2894.0,2.117692e+01,1.480769,15.0,20.00,21.0,22.00,23.0
Bola14,2894.0,2.278542e+01,1.269677,17.0,22.00,23.0,24.00,24.0
Bola15,2894.0,2.440221e+01,0.936974,18.0,24.00,25.0,25.00,25.0
Ganhadores 15 acertos,2894.0,3.547339e+00,5.386321,0.0,1.00,2.0,4.00,103.0
Ganhadores 14 acertos,2894.0,5.712571e+02,787.336085,115.0,321.00,451.0,623.00,27396.0
Ganhadores 13 acertos,2894.0,1.799984e+04,15159.418423,4645.0,11914.00,16104.0,20961.00,378406.0
Ganhadores 12 acertos,2894.0,2.072052e+05,165735.780433,48807.0,146624.00,199137.0,241716.00,4292807.0
Ganhadores 11 acertos,2894.0,1.084914e+06,832545.442189,257593.0,780136.50,1068253.5,1265717.50,22099555.0

In [15]:
df.dtypes

Concurso                                                  int64
Data Sorteio                                             object
Bola1                                                     int64
Bola2                                                     int64
Bola3                                                     int64
Bola4                                                     int64
Bola5                                                     int64
Bola6                                                     int64
Bola7                                                     int64
Bola8                                                     int64
Bola9                                                     int64
Bola10                                                    int64
Bola11                                                    int64
Bola12                                                    int64
Bola13                                                    int64
Bola14                                                    int64
Bola15                                                    int64
Ganhadores 15 acertos                                     int64
Cidade / UF                                              object
Rateio 15 acertos                                        object
Ganhadores 14 acertos                                     int64
Rateio 14 acertos                                        object
Ganhadores 13 acertos                                     int64
Rateio 13 acertos                                        object
Ganhadores 12 acertos                                     int64
Rateio 12 acertos                                        object
Ganhadores 11 acertos                                     int64
Rateio 11 acertos                                        object
Acumulado 15 acertos                                     object
Arrecadacao Total                                        object
Estimativa Prêmio                                        object
Acumulado sorteio especial Lotofácil da Independência    object
Observação                                               object
dtype: object

In [13]:
df.columns

Index(['Concurso', 'Data Sorteio', 'Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5',
       'Bola6', 'Bola7', 'Bola8', 'Bola9', 'Bola10', 'Bola11', 'Bola12',
       'Bola13', 'Bola14', 'Bola15', 'Ganhadores 15 acertos', 'Cidade / UF',
       'Rateio 15 acertos', 'Ganhadores 14 acertos', 'Rateio 14 acertos',
       'Ganhadores 13 acertos', 'Rateio 13 acertos', 'Ganhadores 12 acertos',
       'Rateio 12 acertos', 'Ganhadores 11 acertos', 'Rateio 11 acertos',
       'Acumulado 15 acertos', 'Arrecadacao Total', 'Estimativa Prêmio',
       'Acumulado sorteio especial Lotofácil da Independência', 'Observação'],
      dtype='object')

O conjunto de dados possui as informações do histórico de jogos da Lotofácil contendo as seguintes colunas:

|  Coluna      |             Definição           |  tipo  |
|:------------:|:-------------------------------:|:------:|
| Concurso     | Identificação unica do concurso | int64  |
| Data Sorteio | Data de sorteio do concurso     | Object |