# üöÄ CASE ENGENHEIRO DE DADOS JR - ESCOLA DNC

O notebook foi desenvolvido para a resolu√ß√£o do case t√©cnico para a vaga de Engenheiro de dados Jr da Escola DNC.

* [Notion](https://dncgroupbr.notion.site/Engenheiro-a-de-Dados-Jr-7c864f99568745d393069004e8954eb3)
* [Github](https://github.com/AurelioGuilherme/ETL-Engenharia-de-dados-DNC)

O objetivo desse desafio √© avaliar suas habilidades t√©cnicas e sua capacidade de resolu√ß√£o de problemas. 


## üß† Contexto

A PotatoCore √© uma empresa que lida com dados da Lotof√°cil, um jogo de loteria popular no Brasil. Atualmente, os dados s√£o fornecidos em uma planilha de Excel e precisam ser processados e preparados para an√°lise. Como Engenheiro de Dados, sua miss√£o √© otimizar o processo ETL (Extra√ß√£o, Transforma√ß√£o e Carregamento) para facilitar a obten√ß√£o de insights a partir desses dados.

O processo atual de ETL √© manual e consome muito tempo. Al√©m disso, pode haver inconsist√™ncias nos dados devido √† natureza manual do processo. O objetivo √© criar um pipeline automatizado que permita a extra√ß√£o, transforma√ß√£o e carregamento eficientes dos dados da Lotof√°cil para facilitar a an√°lise.

## 0 - Import Libs

In [22]:
import pandas as pd
import os
from aux_functions import *
# Defini os par√¢metros internos do Pandas para visulizar todas as colunas do DataFrame 
pd.set_option('display.max_columns', None)

## 1 - Read data

In [33]:
df = carregar_dados_xlsx()

Leitura do arquivo 'Lotofacil.xlsx' conclu√≠da com sucesso.

## 2 - Data understand

In [3]:
df.head()

,Concurso,Data Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15,Ganhadores 15 acertos,Cidade / UF,Rateio 15 acertos,Ganhadores 14 acertos,Rateio 14 acertos,Ganhadores 13 acertos,Rateio 13 acertos,Ganhadores 12 acertos,Rateio 12 acertos,Ganhadores 11 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Pr√™mio,Acumulado sorteio especial Lotof√°cil da Independ√™ncia,Observa√ß√£o
0,1,29/09/2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25,5,BA; \nPR; \nSP,"R$49.765,82",154,"R$689,84",4645,"R$10,00",48807,"R$4,00",257593,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
1,2,06/10/2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24,1,SP,"R$596.323,70",184,"R$1.388,95",6232,"R$10,00",81252,"R$4,00",478188,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",ESTIMATIVA DE PR√äMIO PARA O PR√ìXIMO CONCURSO (...
2,3,13/10/2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24,2,SP,"R$400.623,70",158,"R$2.173,36",6897,"R$10,00",96244,"R$4,00",608211,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
3,4,20/10/2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25,1,MT,"R$902.226,02",258,"R$1.498,72",9569,"R$10,00",123912,"R$4,00",706657,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
4,5,27/10/2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25,2,BA; \nMS,"R$380.017,55",472,"R$687,49",14736,"R$10,00",195636,"R$4,00",860992,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio para o pr√≥ximo concurso (...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2894 entries, 0 to 2893
Data columns (total 33 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Concurso                                               2894 non-null   int64
 1   Data Sorteio                                           2894 non-null   object
 2   Bola1                                                  2894 non-null   int64
 3   Bola2                                                  2894 non-null   int64
 4   Bola3                                                  2894 non-null   int64
 5   Bola4                                                  2894 non-null   int64
 6   Bola5                                                  2894 non-null   int64
 7   Bola6                                                  2894 non-null   int64
 8   Bola7                                                  2894 non-null   int64
 9   Bola8                                                  2894 non-null   int64
 10  Bola9                                                  2894 non-null   int64
 11  Bola10                                                 2894 non-null   int64
 12  Bola11                                                 2894 non-null   int64
 13  Bola12                                                 2894 non-null   int64
 14  Bola13                                                 2894 non-null   int64
 15  Bola14                                                 2894 non-null   int64
 16  Bola15                                                 2894 non-null   int64
 17  Ganhadores 15 acertos                                  2894 non-null   int64
 18  Cidade / UF                                            2592 non-null   object
 19  Rateio 15 acertos                                      2894 non-null   object
 20  Ganhadores 14 acertos                                  2894 non-null   int64
 21  Rateio 14 acertos                                      2894 non-null   object
 22  Ganhadores 13 acertos                                  2894 non-null   int64
 23  Rateio 13 acertos                                      2894 non-null   object
 24  Ganhadores 12 acertos                                  2894 non-null   int64
 25  Rateio 12 acertos                                      2894 non-null   object
 26  Ganhadores 11 acertos                                  2894 non-null   int64
 27  Rateio 11 acertos                                      2894 non-null   object
 28  Acumulado 15 acertos                                   2894 non-null   object
 29  Arrecadacao Total                                      2894 non-null   object
 30  Estimativa Pr√™mio                                      2894 non-null   object
 31  Acumulado sorteio especial Lotof√°cil da Independ√™ncia  2894 non-null   object
 32  Observa√ß√£o                                             778 non-null    object
dtypes: int64(21), object(12)
memory usage: 746.2+ KB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Concurso,2894.0,1.447500e+03,835.570165,1.0,724.25,1447.5,2170.75,2894.0
Bola1,2894.0,1.620940e+00,0.925345,1.0,1.00,1.0,2.00,7.0
Bola2,2894.0,3.252937e+00,1.297029,2.0,2.00,3.0,4.00,9.0
Bola3,2894.0,4.878715e+00,1.532281,3.0,4.00,5.0,6.00,12.0
Bola4,2894.0,6.520733e+00,1.710489,4.0,5.00,6.0,8.00,13.0
Bola5,2894.0,8.154112e+00,1.809953,5.0,7.00,8.0,9.00,14.0
Bola6,2894.0,9.786800e+00,1.853189,6.0,8.00,10.0,11.00,16.0
Bola7,2894.0,1.138182e+01,1.888262,7.0,10.00,11.0,13.00,17.0
Bola8,2894.0,1.300829e+01,1.912157,8.0,12.00,13.0,14.00,18.0
Bola9,2894.0,1.460781e+01,1.928542,9.0,13.00,15.0,16.00,19.0
Bola10,2894.0,1.626123e+01,1.880689,10.0,15.00,16.0,18.00,20.0
Bola11,2894.0,1.791465e+01,1.778420,12.0,17.00,18.0,19.00,21.0
Bola12,2894.0,1.954907e+01,1.648149,13.0,18.00,20.0,21.00,22.0
Bola13,2894.0,2.117692e+01,1.480769,15.0,20.00,21.0,22.00,23.0
Bola14,2894.0,2.278542e+01,1.269677,17.0,22.00,23.0,24.00,24.0
Bola15,2894.0,2.440221e+01,0.936974,18.0,24.00,25.0,25.00,25.0
Ganhadores 15 acertos,2894.0,3.547339e+00,5.386321,0.0,1.00,2.0,4.00,103.0
Ganhadores 14 acertos,2894.0,5.712571e+02,787.336085,115.0,321.00,451.0,623.00,27396.0
Ganhadores 13 acertos,2894.0,1.799984e+04,15159.418423,4645.0,11914.00,16104.0,20961.00,378406.0
Ganhadores 12 acertos,2894.0,2.072052e+05,165735.780433,48807.0,146624.00,199137.0,241716.00,4292807.0
Ganhadores 11 acertos,2894.0,1.084914e+06,832545.442189,257593.0,780136.50,1068253.5,1265717.50,22099555.0

O conjunto de dados possui as informa√ß√µes do hist√≥rico de jogos da Lotof√°cil contendo as seguintes colunas:

|  COLUNA                                              |             DEFINI√á√ÉO                          |  TIPO  |
|:----------------------------------------------------:|:----------------------------------------------:|:------:|
| Concurso                                             | Identifica√ß√£o unica do concurso                | int64  |
| Data Sorteio                                         | Data de sorteio do concurso                    | Object |
| Bola1                                                | Resultado da primeira bola sorteada            | int64  |
| Bola2                                                | Resultado da segunda bola sorteada             | int64  |
| Bola3                                                | Resultado da terceira bola sorteada            | int64  |
| Bola4                                                | Resultado da quarta bola sorteada              | int64  |
| Bola5                                                | Resultado da quinta bola sorteada              | int64  |
| Bola6                                                | Resultado da sexta bola sorteada               | int64  |
| Bola7                                                | Resultado da setima bola sorteada              | int64  |
| Bola8                                                | Resultado da oitava bola sorteada              | int64  |
| Bola9                                                | Resultado da nona bola sorteada                | int64  |
| Bola10                                               | Resultado da decima bola sorteada              | int64  |
| Bola11                                               | Resultado da decima primeira bola sorteada     | int64  |
| Bola12                                               | Resultado da decima seguda bola sorteada       | int64  |
| Bola13                                               | Resultado da decima terceira bola sorteada     | int64  |
| Bola14                                               | Resultado da decima quarta bola sorteada       | int64  |
| Bola15                                               | Resultado da decima quinta bola sorteada       | int64  |
| Ganhadores 15 acertos                                | Quantidade de jogadores que acertaram 15 bolas | int64  |
| Cidade / UF                                          | Cidade(es) e estado(os) dos ganhadores         | Object |
| Rateio 15 acertos                                    | Valor do premio por aposta vencedora: 15 Bolas | Object |
| Ganhadores 14 acertos                                | Quantidade de jogadores que acertaram 14 bolas | int64  |
| Rateio 14 acertos                                    | Valor do premio por aposta vencedora: 14 Bolas | Object |
| Ganhadores 13 acertos                                | Quantidade de jogadores que acertaram 13 bolas | int64  |
| Rateio 13 acertos                                    | Valor do premio por aposta vencedora: 13 Bolas | Object |
| Ganhadores 12 acertos                                | Quantidade de jogadores que acertaram 12 bolas | int64  |
| Rateio 12 acertos                                    | Valor do premio por aposta vencedora: 12 Bolas | Object |
| Ganhadores 11 acertos                                | Quantidade de jogadores que acertaram 11 bolas | int64  |
| Rateio 11 acertos                                    | Valor do premio por aposta vencedora: 11 Bolas | Object |
| Acumulado 15 acertos                                 | Valor acumulado para o pr√≥ximo sorteio         | Object |
| Arrecadacao Total                                    | Valor total arrecadado                         | Object |
| Estimativa Pr√™mio                                    | Valor estimado do pr√™mio                       | Object |
| Acumulado sorteio especial Lotof√°cil da Independ√™ncia| Valor acumulado para o sorteio da Lotof√°cio da Independencia | Object|
| Observa√ß√£o                                           | Observa√ß√µes adicionais sobre o sorteio         | Object |

In [6]:
check_null_values(df,list(df.columns))

A coluna 'Cidade / UF' possui 302 valores nulos.

A coluna 'Observa√ß√£o' possui 2116 valores nulos.

In [7]:
count_duplicates(df,["Concurso","Data Sorteio"])

N√£o h√° dados duplicados em nenhuma das colunas fornecidas.

In [8]:
verificar_tipos_de_dados(df)

A coluna 'Data Sorteio' n√£o est√° no tipo de dado desejado (<M8[ns]).
A coluna 'Rateio 15 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 14 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 13 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 12 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 11 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Acumulado 15 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Arrecadacao Total' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Estimativa Pr√™mio' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Acumulado sorteio especial Lotof√°cil da Independ√™ncia' n√£o est√° no tipo de dado desejado (float64).

### Concurso

In [18]:
df[["Concurso"]]

      Concurso
0            1
1            2
2            3
3            4
4            5
...        ...
2889      2890
2890      2891
2891      2892
2892      2893
2893      2894

[2894 rows x 1 columns]

In [13]:
df.head(2)

,Concurso,Data Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15,Ganhadores 15 acertos,Cidade / UF,Rateio 15 acertos,Ganhadores 14 acertos,Rateio 14 acertos,Ganhadores 13 acertos,Rateio 13 acertos,Ganhadores 12 acertos,Rateio 12 acertos,Ganhadores 11 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Pr√™mio,Acumulado sorteio especial Lotof√°cil da Independ√™ncia,Observa√ß√£o
0,1,29/09/2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25,5,BA; \nPR; \nSP,"R$49.765,82",154,"R$689,84",4645,"R$10,00",48807,"R$4,00",257593,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
1,2,06/10/2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24,1,SP,"R$596.323,70",184,"R$1.388,95",6232,"R$10,00",81252,"R$4,00",478188,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",ESTIMATIVA DE PR√äMIO PARA O PR√ìXIMO CONCURSO (...

### Data sorteio

A fun√ß√£o `verifica_data` foi criada para verificar se o formato da data esta dentro do padr√£o dd/mm/yyyy

Caso encontre algum dado fora do padr√£o retorna o index que encontrou a divergencia:

In [14]:
verifica_data(df, "Data Sorteio")

Formato da data esta dentro padr√£o: dd/mm/yyyy

### Bolas sorteadas

In [15]:
colunas = ['Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5','Bola6', 'Bola7', 'Bola8', 
           'Bola9', 'Bola10', 'Bola11', 'Bola12','Bola13', 'Bola14', 'Bola15']

In [16]:
for col in colunas:
    print(f"{col}: valores √∫nicos {set(df[col])}")

Bola1: valores √∫nicos {1, 2, 3, 4, 5, 6, 7}
Bola2: valores √∫nicos {2, 3, 4, 5, 6, 7, 8, 9}
Bola3: valores √∫nicos {3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Bola4: valores √∫nicos {4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
Bola5: valores √∫nicos {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
Bola6: valores √∫nicos {6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
Bola7: valores √∫nicos {7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}
Bola8: valores √∫nicos {8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}
Bola9: valores √∫nicos {9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Bola10: valores √∫nicos {10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Bola11: valores √∫nicos {12, 13, 14, 15, 16, 17, 18, 19, 20, 21}
Bola12: valores √∫nicos {13, 14, 15, 16, 17, 18, 19, 20, 21, 22}
Bola13: valores √∫nicos {15, 16, 17, 18, 19, 20, 21, 22, 23}
Bola14: valores √∫nicos {17, 18, 19, 20, 21, 22, 23, 24}
Bola15: valores √∫nicos {18, 19, 20, 21, 22, 23, 24, 25}

Nota-se que o as informa√ß√µes contidas sobre os n√∫meros das bola sorteadas est√£o dispostos de forma ordenada do menor valor sorteado para o maior e n√£o por ordem de sorteio.