#  CASE ENGENHEIRO DE DADOS JR - ESCOLA DNC üöÄ

O notebook foi desenvolvido para a resolu√ß√£o do case t√©cnico para a vaga de Engenheiro de dados Jr da Escola DNC.

* [Notion](https://dncgroupbr.notion.site/Engenheiro-a-de-Dados-Jr-7c864f99568745d393069004e8954eb3)
* [Github](https://github.com/AurelioGuilherme/ETL-Engenharia-de-dados-DNC)

O objetivo desse desafio √© avaliar as habilidades t√©cnicas e a capacidade de resolu√ß√£o de problemas. 


##  Contexto üß†

A PotatoCore √© uma empresa que lida com dados da Lotof√°cil, um jogo de loteria popular no Brasil. Atualmente, os dados s√£o fornecidos em uma planilha de Excel e precisam ser processados e preparados para an√°lise. Como Engenheiro de Dados, sua miss√£o √© otimizar o processo ETL (Extra√ß√£o, Transforma√ß√£o e Carregamento) para facilitar a obten√ß√£o de insights a partir desses dados.

O processo atual de ETL √© manual e consome muito tempo. Al√©m disso, pode haver inconsist√™ncias nos dados devido √† natureza manual do processo. O objetivo √© criar um pipeline automatizado que permita a extra√ß√£o, transforma√ß√£o e carregamento eficientes dos dados da Lotof√°cil para facilitar a an√°lise.

## 0 - Import Libs üìö

In [40]:
import pandas as pd
import os
from ipywidgets import interact
from aux_functions import *
import sqlite3
# Defini os par√¢metros internos do Pandas para visulizar todas as colunas do DataFrame 
pd.set_option('display.max_columns', None)

## 1 - Read data

Nesta etapa sera efetuada a leitura dos dados

In [41]:
df = carregar_dados_xlsx()

Leitura do arquivo 'Lotofacil.xlsx' conclu√≠da com sucesso

## 2 - Data understand üìù

O conjunto de dados possui as informa√ß√µes do hist√≥rico de jogos da Lotof√°cil contendo as seguintes colunas:

|  COLUNA                                              |             DEFINI√á√ÉO                          |  TIPO  |
|:----------------------------------------------------:|:----------------------------------------------:|:------:|
| Concurso                                             | Identifica√ß√£o unica do concurso                | int64  |
| Data Sorteio                                         | Data de sorteio do concurso                    | Object |
| Bola1                                                | Resultado da primeira bola sorteada            | int64  |
| Bola2                                                | Resultado da segunda bola sorteada             | int64  |
| Bola3                                                | Resultado da terceira bola sorteada            | int64  |
| Bola4                                                | Resultado da quarta bola sorteada              | int64  |
| Bola5                                                | Resultado da quinta bola sorteada              | int64  |
| Bola6                                                | Resultado da sexta bola sorteada               | int64  |
| Bola7                                                | Resultado da setima bola sorteada              | int64  |
| Bola8                                                | Resultado da oitava bola sorteada              | int64  |
| Bola9                                                | Resultado da nona bola sorteada                | int64  |
| Bola10                                               | Resultado da decima bola sorteada              | int64  |
| Bola11                                               | Resultado da decima primeira bola sorteada     | int64  |
| Bola12                                               | Resultado da decima seguda bola sorteada       | int64  |
| Bola13                                               | Resultado da decima terceira bola sorteada     | int64  |
| Bola14                                               | Resultado da decima quarta bola sorteada       | int64  |
| Bola15                                               | Resultado da decima quinta bola sorteada       | int64  |
| Ganhadores 15 acertos                                | Quantidade de jogadores que acertaram 15 bolas | int64  |
| Cidade / UF                                          | Cidade(es) e estado(os) dos ganhadores         | Object |
| Rateio 15 acertos                                    | Valor do premio por aposta vencedora: 15 Bolas | Object |
| Ganhadores 14 acertos                                | Quantidade de jogadores que acertaram 14 bolas | int64  |
| Rateio 14 acertos                                    | Valor do premio por aposta vencedora: 14 Bolas | Object |
| Ganhadores 13 acertos                                | Quantidade de jogadores que acertaram 13 bolas | int64  |
| Rateio 13 acertos                                    | Valor do premio por aposta vencedora: 13 Bolas | Object |
| Ganhadores 12 acertos                                | Quantidade de jogadores que acertaram 12 bolas | int64  |
| Rateio 12 acertos                                    | Valor do premio por aposta vencedora: 12 Bolas | Object |
| Ganhadores 11 acertos                                | Quantidade de jogadores que acertaram 11 bolas | int64  |
| Rateio 11 acertos                                    | Valor do premio por aposta vencedora: 11 Bolas | Object |
| Acumulado 15 acertos                                 | Valor acumulado para o pr√≥ximo sorteio         | Object |
| Arrecadacao Total                                    | Valor total arrecadado                         | Object |
| Estimativa Pr√™mio                                    | Valor estimado do pr√™mio                       | Object |
| Acumulado sorteio especial Lotof√°cil da Independ√™ncia| Valor acumulado para o sorteio da Lotof√°cio da Independencia | Object|
| Observa√ß√£o                                           | Observa√ß√µes adicionais sobre o sorteio         | Object |

### 2.1 An√°lise prim√°ria

Nesta etapa ser√° feita a an√°lise prim√°ria da qualidade do conjunto de dados fornecidos

In [42]:
print(f'O conjunto de dados possui:\n{df.shape[0]} linhas e {df.shape[1]} colunas' )
df.head()

O conjunto de dados possui:
2894 linhas e 33 colunas

,Concurso,Data Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15,Ganhadores 15 acertos,Cidade / UF,Rateio 15 acertos,Ganhadores 14 acertos,Rateio 14 acertos,Ganhadores 13 acertos,Rateio 13 acertos,Ganhadores 12 acertos,Rateio 12 acertos,Ganhadores 11 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Pr√™mio,Acumulado sorteio especial Lotof√°cil da Independ√™ncia,Observa√ß√£o
0,1,29/09/2003,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25,5,BA; \nPR; \nSP,"R$49.765,82",154,"R$689,84",4645,"R$10,00",48807,"R$4,00",257593,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
1,2,06/10/2003,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24,1,SP,"R$596.323,70",184,"R$1.388,95",6232,"R$10,00",81252,"R$4,00",478188,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",ESTIMATIVA DE PR√äMIO PARA O PR√ìXIMO CONCURSO (...
2,3,13/10/2003,1,4,6,7,8,9,10,11,12,14,16,17,20,23,24,2,SP,"R$400.623,70",158,"R$2.173,36",6897,"R$10,00",96244,"R$4,00",608211,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
3,4,20/10/2003,1,2,4,5,8,10,12,13,16,17,18,19,23,24,25,1,MT,"R$902.226,02",258,"R$1.498,72",9569,"R$10,00",123912,"R$4,00",706657,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
4,5,27/10/2003,1,2,4,8,9,11,12,13,15,16,19,20,23,24,25,2,BA; \nMS,"R$380.017,55",472,"R$687,49",14736,"R$10,00",195636,"R$4,00",860992,"R$2,00","R$0,00","R$0,00","R$0,00","R$0,00",Estimativa de pr√™mio para o pr√≥ximo concurso (...

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2894 entries, 0 to 2893
Data columns (total 33 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Concurso                                               2894 non-null   int64
 1   Data Sorteio                                           2894 non-null   object
 2   Bola1                                                  2894 non-null   int64
 3   Bola2                                                  2894 non-null   int64
 4   Bola3                                                  2894 non-null   int64
 5   Bola4                                                  2894 non-null   int64
 6   Bola5                                                  2894 non-null   int64
 7   Bola6                                                  2894 non-null   int64
 8   Bola7                                                  2894 non-null   int64
 9   Bola8                                                  2894 non-null   int64
 10  Bola9                                                  2894 non-null   int64
 11  Bola10                                                 2894 non-null   int64
 12  Bola11                                                 2894 non-null   int64
 13  Bola12                                                 2894 non-null   int64
 14  Bola13                                                 2894 non-null   int64
 15  Bola14                                                 2894 non-null   int64
 16  Bola15                                                 2894 non-null   int64
 17  Ganhadores 15 acertos                                  2894 non-null   int64
 18  Cidade / UF                                            2592 non-null   object
 19  Rateio 15 acertos                                      2894 non-null   object
 20  Ganhadores 14 acertos                                  2894 non-null   int64
 21  Rateio 14 acertos                                      2894 non-null   object
 22  Ganhadores 13 acertos                                  2894 non-null   int64
 23  Rateio 13 acertos                                      2894 non-null   object
 24  Ganhadores 12 acertos                                  2894 non-null   int64
 25  Rateio 12 acertos                                      2894 non-null   object
 26  Ganhadores 11 acertos                                  2894 non-null   int64
 27  Rateio 11 acertos                                      2894 non-null   object
 28  Acumulado 15 acertos                                   2894 non-null   object
 29  Arrecadacao Total                                      2894 non-null   object
 30  Estimativa Pr√™mio                                      2894 non-null   object
 31  Acumulado sorteio especial Lotof√°cil da Independ√™ncia  2894 non-null   object
 32  Observa√ß√£o                                             778 non-null    object
dtypes: int64(21), object(12)
memory usage: 746.2+ KB

In [44]:
# Analize descritiva
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Concurso,2894.0,1.447500e+03,835.570165,1.0,724.25,1447.5,2170.75,2894.0
Bola1,2894.0,1.620940e+00,0.925345,1.0,1.00,1.0,2.00,7.0
Bola2,2894.0,3.252937e+00,1.297029,2.0,2.00,3.0,4.00,9.0
Bola3,2894.0,4.878715e+00,1.532281,3.0,4.00,5.0,6.00,12.0
Bola4,2894.0,6.520733e+00,1.710489,4.0,5.00,6.0,8.00,13.0
Bola5,2894.0,8.154112e+00,1.809953,5.0,7.00,8.0,9.00,14.0
Bola6,2894.0,9.786800e+00,1.853189,6.0,8.00,10.0,11.00,16.0
Bola7,2894.0,1.138182e+01,1.888262,7.0,10.00,11.0,13.00,17.0
Bola8,2894.0,1.300829e+01,1.912157,8.0,12.00,13.0,14.00,18.0
Bola9,2894.0,1.460781e+01,1.928542,9.0,13.00,15.0,16.00,19.0
Bola10,2894.0,1.626123e+01,1.880689,10.0,15.00,16.0,18.00,20.0
Bola11,2894.0,1.791465e+01,1.778420,12.0,17.00,18.0,19.00,21.0
Bola12,2894.0,1.954907e+01,1.648149,13.0,18.00,20.0,21.00,22.0
Bola13,2894.0,2.117692e+01,1.480769,15.0,20.00,21.0,22.00,23.0
Bola14,2894.0,2.278542e+01,1.269677,17.0,22.00,23.0,24.00,24.0
Bola15,2894.0,2.440221e+01,0.936974,18.0,24.00,25.0,25.00,25.0
Ganhadores 15 acertos,2894.0,3.547339e+00,5.386321,0.0,1.00,2.0,4.00,103.0
Ganhadores 14 acertos,2894.0,5.712571e+02,787.336085,115.0,321.00,451.0,623.00,27396.0
Ganhadores 13 acertos,2894.0,1.799984e+04,15159.418423,4645.0,11914.00,16104.0,20961.00,378406.0
Ganhadores 12 acertos,2894.0,2.072052e+05,165735.780433,48807.0,146624.00,199137.0,241716.00,4292807.0
Ganhadores 11 acertos,2894.0,1.084914e+06,832545.442189,257593.0,780136.50,1068253.5,1265717.50,22099555.0

**Verificando valores Nulos/ausentes**

In [45]:
check_null_values(df,list(df.columns))

A coluna 'Cidade / UF' possui 302 valores nulos.

A coluna 'Observa√ß√£o' possui 2116 valores nulos.

* Apos utilizar a fun√ß√£o `check_null_values` identifiquei que existem duas colunas com valores nulos, √© necess√°rio avaliar esses dados nulos para o preenchimento ou remo√ß√£o.

**Verificando valores duplicados**

* As colunas `Concurso` e `Data Sorteio` s√£o as colunas mais importantes de n√£o posssuirem dados duplicados;
* As demais colunas s√£o passiveis de possuirem dados duplicados

In [46]:
count_duplicates(df,["Concurso","Data Sorteio"])

N√£o h√° dados duplicados em nenhuma das colunas fornecidas.

**Verificando o tipo do dado**

In [47]:
verificar_tipos_de_dados(df)

A coluna 'Data Sorteio' n√£o est√° no tipo de dado desejado (<M8[ns]).
A coluna 'Rateio 15 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 14 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 13 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 12 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Rateio 11 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Acumulado 15 acertos' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Arrecadacao Total' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Estimativa Pr√™mio' n√£o est√° no tipo de dado desejado (float64).
A coluna 'Acumulado sorteio especial Lotof√°cil da Independ√™ncia' n√£o est√° no tipo de dado desejado (float64).

* Ap√≥s a execu√ß√£o da fun√ß√£o `verificar_tipos_de_dados` √© possivel identificar as colunas que necessitam da transforma√ß√£o do tipo de dado;
* Talvez exista a necessidade de algum tipo de tratamento previo como remo√ß√£o de car√°cteres para a transforma√ß√£o

### 2.2 Concurso

* A vari√°vel `Concurso` pode ser definida como a chave prim√°ria

In [48]:
df[["Concurso"]].head(2)

   Concurso
0         1
1         2

In [49]:
# Verificando se a quantidade de valores √∫nicos em Concursos √© igual a quantidade de linhas do nosso dataframe
len(set(df["Concurso"])) == df.shape[0]

True

In [50]:
# Verificando se a quantidade de valores √∫nicos em Concursos √© igual ao valor m√°ximo em Concurso
len(set(df["Concurso"])) == df.Concurso.max()

True

### 2.3 Data sorteio

In [51]:
df[["Data Sorteio"]].head(2)

  Data Sorteio
0   29/09/2003
1   06/10/2003

A fun√ß√£o `verifica_data` foi criada para verificar se o formato da data esta dentro do padr√£o dd/mm/yyyy

Caso encontre algum dado fora do padr√£o retorna o index que encontrou a divergencia:

In [52]:
verifica_data(df, "Data Sorteio")

Formato da data esta dentro padr√£o: dd/mm/yyyy

In [53]:
df[["Data Sorteio"]].dtypes

Data Sorteio    object
dtype: object

* √â necess√°rio efetuar a transforma√ß√£o para um tipo data

### 2.4 Bolas sorteadas

In [54]:
# Lista de colunas de bolas sorteadas
bolas_cols = ['Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5','Bola6', 'Bola7', 'Bola8', 
              'Bola9', 'Bola10', 'Bola11', 'Bola12','Bola13', 'Bola14', 'Bola15']

In [55]:
# Exibindo somente o DataFrame contendo os dados das bolas sorteadas
df[bolas_cols].head(2)

,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15
0,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25
1,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24

In [56]:
for col in bolas_cols:
    print(f"{col}: valores √∫nicos {set(df[col])}")

Bola1: valores √∫nicos {1, 2, 3, 4, 5, 6, 7}
Bola2: valores √∫nicos {2, 3, 4, 5, 6, 7, 8, 9}
Bola3: valores √∫nicos {3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Bola4: valores √∫nicos {4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
Bola5: valores √∫nicos {5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
Bola6: valores √∫nicos {6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
Bola7: valores √∫nicos {7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17}
Bola8: valores √∫nicos {8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}
Bola9: valores √∫nicos {9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
Bola10: valores √∫nicos {10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Bola11: valores √∫nicos {12, 13, 14, 15, 16, 17, 18, 19, 20, 21}
Bola12: valores √∫nicos {13, 14, 15, 16, 17, 18, 19, 20, 21, 22}
Bola13: valores √∫nicos {15, 16, 17, 18, 19, 20, 21, 22, 23}
Bola14: valores √∫nicos {17, 18, 19, 20, 21, 22, 23, 24}
Bola15: valores √∫nicos {18, 19, 20, 21, 22, 23, 24, 25}

* Nota-se que os dados contidas sobre os n√∫meros das bola sorteadas est√£o dispostos de forma ordenada do menor valor sorteado para o maior e n√£o por ordem de sorteio.

**Verificando valores duplicados**

In [57]:
df[bolas_cols].duplicated().sum()

0

* N√£o existem duplicidade de sorteios, todos os resultados s√£o distintos

### 2.5 Ganhadores

In [58]:
ganhadores_cols = ['Ganhadores 15 acertos','Ganhadores 14 acertos','Ganhadores 13 acertos',
                   'Ganhadores 12 acertos','Ganhadores 11 acertos']

In [59]:
df[ganhadores_cols].head(2)

,Ganhadores 15 acertos,Ganhadores 14 acertos,Ganhadores 13 acertos,Ganhadores 12 acertos,Ganhadores 11 acertos
0,5,154,4645,48807,257593
1,1,184,6232,81252,478188

**Verificando valores duplicados**

In [60]:
df[ganhadores_cols].duplicated().sum()

0

### 2.6 Cidade / UF

In [61]:
df[["Cidade / UF"]]

                          Cidade / UF
0                      BA; \nPR; \nSP
1                                  SP
2                                  SP
3                                  MT
4                            BA; \nMS
...                               ...
2889       SALVADOR/BA; ANITAPOLIS/SC
2890           MACAPA/AP; BRASILIA/DF
2891  BEQUIMAO/MA; DUQUE DE CAXIAS/RJ
2892                              NaN
2893        SAO LUIS/MA; SAO PAULO/SP

[2894 rows x 1 columns]

* √â necess√°rio efetuar a remo√ß√£o de caracteres especiais e padronizar os dados;
* √â possivel separar as colunas em duas uma contendo somente os dados do nome da `'Cidades'` e outra os dados do nome da  `'UF'`;
* Tambem √© necess√°rio preencher os dados nulos

### 2.7 Rateios, valores acumulados e arrecada√ß√£o

In [62]:
rateios_cols = ["Rateio 15 acertos", "Rateio 14 acertos", "Rateio 13 acertos", "Rateio 12 acertos",
                "Rateio 11 acertos", "Acumulado 15 acertos","Arrecadacao Total", "Estimativa Pr√™mio",
                "Acumulado sorteio especial Lotof√°cil da Independ√™ncia"]

In [63]:
df[rateios_cols].head(2)

,Rateio 15 acertos,Rateio 14 acertos,Rateio 13 acertos,Rateio 12 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Pr√™mio,Acumulado sorteio especial Lotof√°cil da Independ√™ncia
0,"R$49.765,82","R$689,84","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00","R$0,00"
1,"R$596.323,70","R$1.388,95","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00","R$0,00"

**Verificando valores duplicados**

In [64]:
df[rateios_cols].duplicated().sum()

0

* Os dados est√£o em formato Object √© necess√°rio efetuar a transforma√ß√£o para Float;
* √â necess√°rio remover os caracteres: `'R$'` e `'.'` para transformar o tipo de dado

### 2.8 Observa√ß√£o

In [65]:
df[["Observa√ß√£o"]]

                                             Observa√ß√£o
0     Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
1     ESTIMATIVA DE PR√äMIO PARA O PR√ìXIMO CONCURSO (...
2     Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
3     Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...
4     Estimativa de pr√™mio para o pr√≥ximo concurso (...
...                                                 ...
2889                                                NaN
2890                                                NaN
2891                                                NaN
2892                                                NaN
2893                                                NaN

[2894 rows x 1 columns]

In [66]:
df[df["Observa√ß√£o"] == 'GANHADOR DE 15 ACERTOS: BELO HORIZONTE/MG'][["Cidade / UF","Observa√ß√£o"]]

    Cidade / UF                                 Observa√ß√£o
379          MG  GANHADOR DE 15 ACERTOS: BELO HORIZONTE/MG

* Necess√°rio padronizar os dados, remover caracteres especiais;
* Possui informa√ß√µes sobre cidade e UF que podem ser reutilizados para preenchimento de dados ausentes;
* Informa√ß√µes sobre valores acumulados e arrecada√ß√£o para preenchimento de dados ausentes.

## 3 - Tratamento de dados üë∑

### 3.1 Tratamento Data Sorteio

A fun√ß√£o `'transform_data_type'` faz a transforma√ß√£o do dado para um tipo: datetime64[ns], a fun√ß√£o tamb√©m verifica se a transforma√ß√£o foi bem sucedida

In [67]:
transform_data_type(df)

A transforma√ß√£o para data foi bem-sucedida.

### 3.2 Tratamento Cidade / UF

A fun√ß√£o `'dividir_cidade_uf'` faz a separa√ß√£o dos dados das cidade e UFs em **valores √∫nicos**, caso o valor for nulo/ausente ele incluira o valor `NAO ESPECIFICADO`.

A solu√ß√£o tamb√©m faz a remo√ß√£o de caracteres especiais e transforma todos os dados em mai√∫sculos

* A solu√ß√£o implementada talvez n√£o seja a melhor solu√ß√£o, pois existe uma perda de informa√ß√£o nesta transforma√ß√£o, desta forma n√£o √© possivel especificar quantas apostas foram premiadas por cidade ou UF em um √∫nico sorteio;
* Outra solu√ß√£o pensada seria criar mais uma coluna possuindo um contador de apostas premiadas por cidade/uf, porem esta solu√ß√£o ainda esta em desenvolvimento.
* Para o desenvolvimento deste tipo de transforma√ß√£o seria necess√°rio entrar em contato com as partes interessadas para alinhar qual solu√ß√£o seria mais interessante.

In [68]:
# Adcionando as duas colunas ao DataFrame contendo os dados separados por cidade e UF
df[['Cidade', 'UF']]  = df['Cidade / UF'].apply(dividir_cidade_uf)

In [69]:
df[['Cidade', 'UF']]

                         Cidade                   UF
0       CIDADE NAO ESPECIFICADA           PR, SP, BA
1       CIDADE NAO ESPECIFICADA                   SP
2       CIDADE NAO ESPECIFICADA                   SP
3       CIDADE NAO ESPECIFICADA                   MT
4       CIDADE NAO ESPECIFICADA               MS, BA
...                         ...                  ...
2889       SALVADOR, ANITAPOLIS               SC, BA
2890           MACAPA, BRASILIA               DF, AP
2891  BEQUIMAO, DUQUE DE CAXIAS               RJ, MA
2892    CIDADE NAO ESPECIFICADA  UF NAO ESPECIFICADA
2893        SAO LUIS, SAO PAULO               SP, MA

[2894 rows x 2 columns]

**Remo√ß√£o da coluna Cidade / UF ap√≥s tratamento**

In [70]:
# Remo√ß√£o do conjunto de dados originais `Cidade / UF` ap√≥s a transforma√ß√£o
df = df.drop("Cidade / UF", axis = 1)

### 3.3 Tratamento das colunas correspondetes ao rateios, valores acumulados e arreca√ß√£o

* A fun√ß√£o `remove_cifrao` remove o `'R$'` presente nos dados corresponde aos valores;
* Ap√≥s a remo√ß√£o converte o valor para float;
* Caso n√£o consiga efetuar a transforma√ß√£o exibe a mensagem de erro identificando a coluna que n√£o foi possivel efetuar a transforma√ß√£o

In [71]:
df[rateios_cols].dtypes

Rateio 15 acertos                                        object
Rateio 14 acertos                                        object
Rateio 13 acertos                                        object
Rateio 12 acertos                                        object
Rateio 11 acertos                                        object
Acumulado 15 acertos                                     object
Arrecadacao Total                                        object
Estimativa Pr√™mio                                        object
Acumulado sorteio especial Lotof√°cil da Independ√™ncia    object
dtype: object

In [72]:
df = remove_cifrao(df, rateios_cols)
df[rateios_cols].head(2)

,Rateio 15 acertos,Rateio 14 acertos,Rateio 13 acertos,Rateio 12 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Pr√™mio,Acumulado sorteio especial Lotof√°cil da Independ√™ncia
0,49765.82,689.84,10.0,4.0,2.0,0.0,0.0,0.0,0.0
1,596323.70,1388.95,10.0,4.0,2.0,0.0,0.0,0.0,0.0

In [73]:
df[rateios_cols].dtypes

Rateio 15 acertos                                        float64
Rateio 14 acertos                                        float64
Rateio 13 acertos                                        float64
Rateio 12 acertos                                        float64
Rateio 11 acertos                                        float64
Acumulado 15 acertos                                     float64
Arrecadacao Total                                        float64
Estimativa Pr√™mio                                        float64
Acumulado sorteio especial Lotof√°cil da Independ√™ncia    float64
dtype: object

### 3.4 Tratamento de observa√ß√µes e enriquecimento de dados

* A solu√ß√£o para tratamento/enriquecimento de dados seria utilizar um regex para categorizar as observa√ß√µes da seguinte maneira:

|Tipo observa√ß√£o  | c√≥digo da observa√ß√£o|
|:---------------:|:-------------------:|
| Acumulou        |          1          |
| Postergou       |          2          |
| Dados da cidade |          3          |
| Dados ganhador  |          4          |

* Foi criado a fun√ß√£o `categorize_observacao` que faz justamente esta classifica√ß√£o;

* Criando uma nova coluna chamada `Observacao_code` no conjunto de dados contendo esta classifica√ß√£o pode facilitar
    - A filtragem de dados;
    - Identifica√ß√£o de anomalias;
    - identifica√ß√£o de dados dos ganhadores como cidade e UFs para preenchimento de campos nulos no rawdata e classificados anteriormente como n√£o especificado;
    - Melhoria geral na compreens√£o do conjunto de dados.

* Nesta vers√£o √© necess√°rio aprimorar esta classifica√ß√£o via regex, mas com o amadurecimento desta classific√£o/c√≥digo, criando mais categorias √© possivel rodar um modelo de machine learning supervisinado/semi supervisionado para classificar dados futuros.

In [74]:
df = categorize_observacao(df)

In [75]:
df.head(2)

,Concurso,Data Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,Bola9,Bola10,Bola11,Bola12,Bola13,Bola14,Bola15,Ganhadores 15 acertos,Rateio 15 acertos,Ganhadores 14 acertos,Rateio 14 acertos,Ganhadores 13 acertos,Rateio 13 acertos,Ganhadores 12 acertos,Rateio 12 acertos,Ganhadores 11 acertos,Rateio 11 acertos,Acumulado 15 acertos,Arrecadacao Total,Estimativa Pr√™mio,Acumulado sorteio especial Lotof√°cil da Independ√™ncia,Observa√ß√£o,Cidade,UF,Observacao_code
0,1,2003-09-29,2,3,5,6,9,10,11,13,14,16,18,20,23,24,25,5,49765.82,154,689.84,4645,10.0,48807,4.0,257593,2.0,0.0,0.0,0.0,0.0,Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...,CIDADE NAO ESPECIFICADA,"PR, SP, BA",0
1,2,2003-10-06,1,4,5,6,7,9,11,12,13,15,16,19,20,23,24,1,596323.70,184,1388.95,6232,10.0,81252,4.0,478188,2.0,0.0,0.0,0.0,0.0,ESTIMATIVA DE PR√äMIO PARA O PR√ìXIMO CONCURSO (...,CIDADE NAO ESPECIFICADA,SP,0

In [76]:
@interact(cat_observacao = set(df.Observacao_code))
def slice_df(cat_observacao):
    return df[df.Observacao_code == cat_observacao]

interactive(children=(Dropdown(description='cat_observacao', options=(0, 1, 2, 3, 4), value=0), Output()), _do‚Ä¶

## 4 - Modelagem de Dados:

In [77]:
# Conectar ao banco de dados
conn = sqlite3.connect('PotatoCore.db')
cursor = conn.cursor()

# Criar tabela de ganhadores_lotofacil
cursor.execute('''
    CREATE TABLE IF NOT EXISTS ganhadores_lotofacil (
        id INTEGER PRIMARY KEY,
        concurso_id INTEGER NOT NULL,
        ganhadores_15 INTEGER,
        ganhadores_14 INTEGER,
        ganhadores_13 INTEGER,
        ganhadores_12 INTEGER,
        ganhadores_11 INTEGER,
        cidade TEXT,
        uf TEXT,
        FOREIGN KEY (concurso_id) REFERENCES concursos_lotofacil (concurso_id)
    )
''')

# Criar tabela de sorteios_lotofacil
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sorteios_lotofacil (
        id INTEGER PRIMARY KEY,
        concurso_id INTEGER NOT NULL,
        bola1 INTEGER,
        bola2 INTEGER,
        bola3 INTEGER,
        bola4 INTEGER,
        bola5 INTEGER,
        bola6 INTEGER,
        bola7 INTEGER,
        bola8 INTEGER,
        bola9 INTEGER,
        bola10 INTEGER,
        bola11 INTEGER,
        bola12 INTEGER,
        bola13 INTEGER,
        bola14 INTEGER,
        bola15 INTEGER,
        FOREIGN KEY (concurso_id) REFERENCES concursos_lotofacil (concurso_id)
    )
''')

# Criar tabela de concursos_lotofacil
cursor.execute('''
    CREATE TABLE IF NOT EXISTS concursos_lotofacil (
        concurso_id INTEGER PRIMARY KEY,
        data_sorteio DATE NOT NULL,
        acumulado_15 INTEGER NOT NULL,
        rateio_15 REAL,
        ganhadores_14 INTEGER NOT NULL,
        rateio_14 REAL,
        ganhadores_13 INTEGER NOT NULL,
        rateio_13 REAL,
        ganhadores_12 INTEGER NOT NULL,
        rateio_12 REAL,
        ganhadores_11 INTEGER NOT NULL,
        rateio_11 REAL,
        acumulado_especial INTEGER NOT NULL,
        arrecadacao_total REAL,
        estimativa_premio REAL,
        observacao TEXT,
        observacao_code INTEGER
    )
''')

# Commit (salvar) as altera√ß√µes no banco de dados
conn.commit()

## 5 - Load data PotatoCore.db

In [78]:
# Renomeando colunas do dataframe e copiando para um dataframe copia
df_copy_to_load_db = df.rename(columns={
                               'Concurso': 'concurso_id',
                               'Data Sorteio': 'data_sorteio',
                               'Ganhadores 15 acertos': 'ganhadores_15',
                               'Rateio 15 acertos': 'rateio_15',
                               'Ganhadores 14 acertos': 'ganhadores_14',
                               'Rateio 14 acertos': 'rateio_14',
                               'Ganhadores 13 acertos': 'ganhadores_13',
                               'Rateio 13 acertos': 'rateio_13',
                               'Ganhadores 12 acertos': 'ganhadores_12',
                               'Rateio 12 acertos': 'rateio_12',
                               'Ganhadores 11 acertos': 'ganhadores_11',
                               'Rateio 11 acertos': 'rateio_11',
                               'Acumulado 15 acertos': 'acumulado_15',
                               'Arrecadacao Total': 'arrecadacao_total',
                               'Estimativa Pr√™mio': 'estimativa_premio',
                               'Acumulado sorteio especial Lotof√°cil da Independ√™ncia': 'acumulado_especial',
                               'Observa√ß√£o': 'observacao',
                               'Cidade': 'cidade',
                               'UF': 'uf',
                               'Observacao_code': 'observacao_code'})


# Inserir os dados do DataFrame na tabela de concursos_lotofacil
df_copy_to_load_db[['concurso_id', 'data_sorteio', 'acumulado_15', 'rateio_15', 'ganhadores_14', 'rateio_14',
                    'ganhadores_13', 'rateio_13', 'ganhadores_12', 'rateio_12', 'ganhadores_11', 'rateio_11',
                    'acumulado_especial', 'arrecadacao_total', 'estimativa_premio', 'observacao', 'observacao_code']].to_sql('concursos_lotofacil', conn, if_exists='replace', index=False)


# Inserir os dados do DataFrame na tabela de ganhadores
df_copy_to_load_db[['concurso_id', 'ganhadores_15', 'ganhadores_14', 'ganhadores_13', 'ganhadores_12', 'ganhadores_11', 'cidade', 'uf']].to_sql('ganhadores_lotofacil', conn, if_exists='replace', index=False)

# Inserir os dados do DataFrame na tabela de sorteios_lotofacil
df_copy_to_load_db[['concurso_id', 'Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5', 'Bola6', 'Bola7', 'Bola8', 'Bola9',
                    'Bola10', 'Bola11', 'Bola12', 'Bola13', 'Bola14', 'Bola15']].to_sql('sorteios_lotofacil', conn, if_exists='replace', index=False)

2894

In [79]:
# Estabelecer uma conex√£o com o banco de dados existente (PotatoCore.db)
conn = sqlite3.connect('PotatoCore.db')

# Consulta SQL para carregar os dados da tabela concursos
query = "SELECT * FROM concursos_lotofacil LIMIT 1"

# Carregar os dados da tabela concursos em um DataFrame
sql_query = pd.read_sql_query(query, conn)
sql_query

,concurso_id,data_sorteio,acumulado_15,rateio_15,ganhadores_14,rateio_14,ganhadores_13,rateio_13,ganhadores_12,rateio_12,ganhadores_11,rateio_11,acumulado_especial,arrecadacao_total,estimativa_premio,observacao,observacao_code
0,1,2003-09-29 00:00:00,0.0,49765.82,154,689.84,4645,10.0,48807,4.0,257593,2.0,0.0,0.0,0.0,Estimativa de pr√™mio (15 ACERTOS) pr√≥ximo conc...,0

In [80]:
# Fechar a conex√£o com o banco de dados
conn.close()

## 6 - Nexts steps üéØ

* Aprimorar o processo de modelagem do database;
* Aprimorar a classifica√ß√£o de `Observa√ß√µes`;
* Gerar modelo de classifica√ß√£o de `Observa√ß√µes` para otimizar ingest√£o de dados futuros;
* Criar arquivo.py que faz a automa√ß√£o da pipeline de ETL;
* Implementar ETL no Airflow utilizando Docker;
* Implementar sistema de seguran√ßa de maneira robusta no database.